head
    title= "Tip Tracker"
    meta(name="viewport", content="initial-scale=1.0")
    meta(charset="utf-8")
    script(src='../static/secrets.js')
    script(src='../static/map.js')
    style
        include ../public/style.css