html
    include _head.pug
    body
        include _header.pug

        main
            div(id="formSide")
                div
                    form(action="post")
                        label(for="address")= "Address"
                        br
                        input(type="text" name="address")
                        input(type="submit" text="Submit")
                div
                    ul
                        li= "The list items"
                    
            div(id="mapSide")
                div(id="map")
        
        include _footer.pug